* {
  color: white;
}

body {
  background-color: black;
}

h1 {
  color: red;
}

button {
  background-color: green;
  width: 10rem;
}

input {
  color: black;
  width: 2rem;
}

.section2 {
  display: flex;
  flex-direction: column;
}
