/********************************* CORES *********************************/
.cpreto {
  color: #000;
}
.bpreto {
  background-color: #000;
}
.cescuro {
  color: #222;
}
.bescuro {
  background-color: #222;
}
.cgrafite {
  color: #333;
}
.bgrafite {
  background-color: #333;
}
.ccinzaescuro {
  color: #777;
}
.bcinzaescuro {
  background-color: #777;
}
.ccinza {
  color: #AAA;
}
.bcinza {
  background-color: #AAA;
}
.ccinzaclaro {
  color: #EEE;
}
.bcinzaclaro {
  background-color: #EEE;
}
.cgelo {
  color: #F7F7F7;
}
.bgelo {
  background-color: #F7F7F7;
}
.cbranco {
  color: #FFF;
}
.bbranco {
  background-color: #FFF;
}
/********************************* GERAL *********************************/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
html,
body {
  font-size: 9px;
}
* {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.alterfont {
  font-family: Font, Open Sans, Arial, Helvetica, sans-serif;
}
.transition {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.fast {
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}
.clear {
  clear: both;
}
a,
button {
  text-decoration: none;
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}
a:hover,
button:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.tabled {
  display: table;
}
.tabled > div {
  display: table-cell;
  vertical-align: middle;
}
/*********************************** FORMAS ***********************************/
.il {
  display: inline;
}
.bl {
  display: block;
}
.ib {
  display: inline-block;
}
.rd100 {
  border-radius: 100vh;
}
.rd0 {
  border-radius: 0px;
}
.rd5 {
  border-radius: 5px;
}
.rd10 {
  border-radius: 10px;
}
.m0 {
  margin: 0;
}
.mb05 {
  margin-bottom: 0.5em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb3 {
  margin-bottom: 3em;
}
.p0 {
  padding: 0;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
/*********************************** FONTES TEXTOS ***********************************/
.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}
.i {
  font-style: italic;
}
.uc {
  text-transform: uppercase;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.t10 {
  font-size: 10px;
}
.t11 {
  font-size: 11px;
}
.t12 {
  font-size: 12px;
}
.t13 {
  font-size: 13px;
}
.t14 {
  font-size: 14px;
}
.t15 {
  font-size: 15px;
}
.t16 {
  font-size: 16px;
}
.t18 {
  font-size: 18px;
}
.t20 {
  font-size: 20px;
}
.t22 {
  font-size: 22px;
}
.t24 {
  font-size: 24px;
}
.t26 {
  font-size: 26px;
}
.t28 {
  font-size: 28px;
}
.t32 {
  font-size: 32px;
}
.t36 {
  font-size: 36px;
}
.t37 {
  font-size: 37px;
}
.t42 {
  font-size: 42px;
}
.t48 {
  font-size: 48px;
}
.t56 {
  font-size: 56px;
}
.t72 {
  font-size: 72px;
}
.lh120 {
  line-height: 120%;
}
.lh140 {
  line-height: 140%;
}
.lh160 {
  line-height: 160%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
/*********************************** ELEMENTOS ***********************************/
* {
  color: white;
}
.bg-escuro {
  background-color: #1C2031;
}
.bg-claro {
  background-color: #4A80F0;
}
.bg-roxo {
  background-color: #441DFC;
}
.bg-vermelho {
  background-color: #FC67A7;
}
.bg-verde {
  background-color: #13DEA0;
}
.bg-ouro {
  background-color: #e9b808;
}
.f-claro {
  color: #4A80F0;
}
.f-escuro {
  color: #1C2031;
}
nav div {
  width: 43%;
  display: inline-block;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline;
  padding-right: 10px;
  line-height: 40px;
}
nav li:last-child {
  padding-right: 0px;
}
@media screen and (min-width: 768px) {
  nav div{
    width: 45%;
  }
  nav li {
    padding-right: 20px;
  }
  nav li:last-child {
    padding-right: 0px;
  }
}

@media screen and (max-width: 362px) {
  nav div{
    width: 20%;
  }
  nav li {
    padding-right: 10px;
  }
  nav li:last-child {
    padding-right: 0px;
  }
}


.line {
  width: 50px;
  height: 2px;
  background-color: #4A80F0;
  margin-bottom: 20px;
}
.card {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 25px;
  max-width: 170px;
  max-height: 60px;
  border-radius: 12px;
  padding: 8px 14px 8px 8px;
  font-size: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
.card button {
  font-size: 22px;
  color: #ff3c00;

}

.result{
  display: flex;
}

@media screen and (min-width: 540px) {
  .card {
    margin-right: 20px;
  }
}
.add {
  border-radius: 12px;
  padding: 20px 8px 20px 30px;
}
.add label {
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
}
.add input {
  color: rgba(12, 12, 12, 0.89);
  padding-left: 12px;
  width: 95%;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  border-radius: 12px;
  box-shadow: 4px 1px 10px 4px rgba(22, 22, 22, 0.52);
}
.add button {
  background-color: #FC67A7;
  padding: 16px 40px;
  border-radius: 12px;
  font-size: 18px;
}
.container {
  width: 92%;
  margin: auto;
  display: inline-block;
}

.d-none{
  display: none;
}